*{
    margin: 0%;
    font-family: 'Inter', sans-serif;
}
/*Menu superior*/
#menusuperior{
    background-color: #303030;
    color: white;
}
#titulo-menusuperior{
    padding: 186px 0 20px 62px;
}
#texto-menusuperior{
    padding: 0 0 129px 62px;
}
/*Menu informacional*/
#menuinformacional{
    display: grid;
    grid-auto-flow: column;
    grid-column: auto;
    background-color: #F9F9F9;
    padding: 96px 0 45px 171px;
}
/*informações da empresa*/
#informacaoempresa{
    display: grid;
    grid-auto-flow: column;
    grid-column: auto;
    margin: 82px 34px 92px 0;
}
#imgempresa{
    width: 331px;
    height: 393px;
}
#textoempresa{
    margin-left: 8%;
    margin-top: 62px;
}
/*Formulário*/
#formulario{
    background-color: #303030;
    color: white;
    padding-top: 87px;
    align-items: center;
    text-align: center;
}
input{
    border: 0;
    border-radius: 10px;
    width: 308px;
    height: 40px;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
}
input::placeholder{
    padding-left: 20px;
}
button{
    margin-top: 50px;
    margin-bottom:  3%;
    border: 0;
    border-radius: 7px;
    background-color: #C07212;
    width:  193px;
    height: 50px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(199, 75, 17, 0.24), 0 17px 50px 0 rgba(194, 98, 33, 0.19);
    opacity: 0.8;
}